{{#partial "content"}}
    <h1>Current Ideas</h1>

    <u1>

        {{#each ideas}}
            <li>{{ title }}</li>
        {{/each}}

    </u1>

    <form action="/ideas" method="post">
        <input type="text" placeholder="What's your user idea?>" name="title">
        <button>Suggest!</button>
    </form>

{{/partial}}

{{> base.hbs}}