{{#block "header" }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title id="myHeading">{{#block "title" }}Welcome to Course Ideas{{/block}}</title>
    <link rel="stylesheet" href="/css/main.css">

    <script src="/css/app.js">  </script>

</head>
<body>

<div class="page">
    {{#if  flashMessage}}
        <p id="flash-message">{{flashMessage}}</p>
    {{/if}}
{{/block}}

{{#block "content" }}{{/block}}
{{#block "footer" }}
    <h1 id="myHeading">This is the Footer!!!</h1>
        <iframe src="//giphy.com/embed/ClKnUxoh4SP16" width="480" height="295" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/3d-photography-3dstockcontentcom-ClKnUxoh4SP16">via GIPHY</a></p>
    </div>





    </body>

    </html>

{{/block}}




